name: ci 
on:
  push:
    branches:
      - master  # 只在 master 分支推送时触发工作流
  workflow_dispatch:  # 允许手动运行工作流
permissions:
  contents: write
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: List files
        run: ls -la  # 列出当前目录的文件

      - name: Use Node.js 18.x
        uses: actions/setup-node@v3
        with:
          node-version: 18.x

      - name: Install pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 8
        
      - name: Install dependencies
        run: pnpm install  # 确保在包含 package.json 的目录中运行

      - name: Build site
        run: |
          pageforge build

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
          publish_branch: gh-pages  # 指定将内容发布到 gh-pages 分支
